/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-bottom: 40px;
    background-color: #eee;
}
/*
 * Typography
 */

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
.clickable-row {
 cursor:pointer;

}

.datepicker {
}
.ui-menu .ui-menu-item-wrapper{
    padding: 10px 20px;
    cursor: pointer;
    color: #737373;
    font-size: 13px;
 
   
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

    .sidebar .nav {
        margin-bottom: 20px;
    }

    .sidebar .nav-item {
        width: 100%;
    }

        .sidebar .nav-item + .nav-item {
            margin-left: 0;
        }

    .sidebar .nav-link {
        border-radius: 0;
    }

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.jumhead {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    /*border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;*/
    border-radius: 0.3rem;
}


.jumheadHome {
    margin-bottom: 2rem;
    /*background-color: #ffffff;*/
    /*border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;*/
    border-radius: 0.3rem;
}

 
.myb-4 {
    margin-bottom: 1.5rem !important;
    margin-top: 0rem !important;
}

.btn-bdr {
    border: 0 !important;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.15) !important;
    font-weight: 600 !important;
}

.btn-success, .btn-success {
    background-color: #77b93f !important;
}

    .btn-success:hover {
        color: #fff !important;
        background-color: #60ad1e !important;
        border-color: #60ad1e !important;
    }

.padding-top-15 {
    padding-top: 15px !important;
}

.no-registry-content {
    width: 100%;
    display: inline-block;
    padding: 70px 90px 70px 90px;
    text-align: center;
    border: 1px dashed #cfcdcb;
    border-radius: 2px;
    font-size: .97em;
    color: #939393;
}

.dashed {
    border: 1px dashed #cfcdcb;
}
.controls{
    padding-bottom: 35px;
}
/*#ribbon {
    min-height: 40px;
    background: #ffffff;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
    position: relative;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
    */
#ribbon .breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0 !important;
    background: 0 0;
    vertical-align: top
}

    /* Add a slash symbol (/) before/behind each list item */
    #ribbon .breadcrumb li + li:before {
        color: #808080;
        content: "/\00a0";
    }


    #ribbon .breadcrumb, #ribbon .breadcrumb a {
        color: #BBB !important;
        text-decoration: none !Important
    }

        #ribbon .breadcrumb li:last-child, #ribbon .breadcrumb > .active {
            color: #808080
        }


.easy-pie-chart {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .easy-pie-chart .percent {
        color: #444;
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-top: -10px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }

canvas {
    display: inline-block;
    vertical-align: baseline;
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.chart {
    height: 220px;
    margin: 20px 5px 10px 10px;
    overflow: hidden;
}

.morris-hover.morris-default-style {
    background: rgba(255, 255, 255, 0.8);
    border: solid 2px rgba(230, 230, 230, 0.8);
    border-radius: 10px;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px;
    text-align: center;
}

.morris-hover {
    position: absolute;
    z-index: 903;
}

.table.dataTable {
    
    border-collapse: collapse !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1PX !important;
}

.table-item-head {
    padding: 8px 15px;
}

.table-row-body:first-child {
    border: none;
}

.table-row-body {
    background: #fff;
    border-top: 1px dotted #bdbdbd;
    transition: all .2s ease;
}

.table-item-body, .table-item-body-large, .table-item-body-small {
    font-size: 14px;
}

.table-item-body {
    padding: 12px 15px !important;
}

.table-item-body, .table-item-body-large, .table-item-body-small {
    position: relative;
    font-weight: 400;
    text-align: left;
    line-height: "initial";
    color: #547384;
}

tbody {
    border: 1px dotted #bdbdbd;
    border-collapse: separate;
    border-spacing: 3px;
}


thead {
    border: 1px dotted #bdbdbd;
    border-collapse: separate;
    border-spacing: 3px;
    background-color: #eee;
}
/*Messagebox */

.divMessageBox {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.MessageBoxContainer {
    background-color: #232323;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: relative;
    top: 35%;
    width: 100%;
}

.MessageBoxMiddle {
    left: 20%;
    position: relative;
    width: 60%;
}

    .MessageBoxMiddle .MsgTitle {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -1px;
    }

    .MessageBoxMiddle .pText {
        font-size: 13px;
    }

.MessageBoxContainer input {
    padding: 5px;
    width: 50%;
}

.MessageBoxContainer select {
    padding: 5px;
    width: 50%;
}

.MessageBoxButtonSection {
    height: 30px;
    width: 100%;
}

    .MessageBoxButtonSection button {
        float: right;
        font-size: 14px;
        font-weight: bold;
        margin-right: 7px;
        padding-left: 15px;
        padding-right: 15px;
    }

/* End of MessageBox */

.LoadingBoxContainer {
    background-color: #232323;
    color: white;
    position: relative;
    top: 20%;
    width: 100%;
}

.LoadingBoxMiddle {
    left: 20%;
    padding: 10px;
    position: relative;
    width: 50%;
}

.LoadingBoxContainer .MsgTitle {
    font-size: 26px;
}

.LoadingBoxContainer .pText {
    font-size: 13px;
}

#LoadingPoints {
    position: absolute;
}



/* bigBoxes */

.bigBox {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: #004d60;
    border-left: 5px solid rgba(0, 0, 0, 0.15);
    bottom: 10px;
    box-sizing: content-box;
    color: white;
    height: 150px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: fixed;
    right: 10px;
    width: 390px;
    z-index: 99999;
}

    .bigBox span {
        display: block;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: -1px;
        padding: 5px 0 !important;
    }

    .bigBox p {
        font-size: 13px;
        margin-top: 10px;
    }

#divMiniIcons {
    bottom: 180px;
    float: right;
    position: fixed;
    right: 10px;
    width: 415px;
    z-index: 9999;
}

.botClose {
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 16px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 15px;
}

    .botClose:hover {
        opacity: 1;
    }

#divMiniIcons .cajita {
    background-color: #F00;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 17px;
    margin-left: 4px;
    margin-top: 5px;
    padding: 4px 6px;
    text-align: center;
    vertical-align: middle;
}

    #divMiniIcons .cajita:active {
        left: 1px;
        position: relative;
        top: 1px;
    }

.cajita img {
    height: 23px;
    padding-left: 3px;
    padding-top: 3px;
    width: 23px;
}

.bigBox .bigboxicon {
    font-size: 30px;
    left: 6px;
    position: absolute;
    text-align: left;
    top: 120px;
    z-index: 0;
}

.bigBox .bigboxnumber {
    font-size: 25px;
    text-align: right;
    width: 100%;
}

/* End of  bigBoxes */

/* SmallBox */

#divSmallBoxes {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.SmallBox {
    border: 1px solid transparent;
    color: white;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 20px;
    width: 420px;
    z-index: 9999;
}

    .SmallBox:hover {
        border: 1px solid #fff;
        cursor: pointer;
    }

    .SmallBox .foto {
        font-size: 50px;
        left: 17px;
        position: absolute;
    }

    .SmallBox .textoFull {
        float: left;
        padding-left: 20px;
        width: 93%;
    }

    .SmallBox .textoFoto {
        float: left;
        margin: 3px 20px 3px 80px;
        width: 78%;
    }

.miniPic {
    bottom: 8px;
    position: absolute;
    right: 9px;
}

.miniIcono {
    font-size: 20px;
    height: 100%;
}

.SmallBox span {
    display: block;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 4px 0;
}

.SmallBox p {
    font-size: 13px;
    margin-top: 2px;
}

/* End of SmallBox */





