<div class="row">
    <div class="col-2">
        <vc:card-bank-trans-fix-stats   time="@ModelCards.BankAmountBefore"
                                   title="Saldo Anterior" ref-date="null"
                                   css-card="text-info" account-bank-id="null"
                                   model="@ModelCards.SimpleCard">
        </vc:card-bank-trans-fix-stats>
    </div>

    <div class="col-2">
        <vc:card-bank-trans-fix-stats 
                                      time="@ModelCards.BankAmountTotal" 
                                      account-bank-id="null"
                                      ref-date="null"
                                      title="Saldo Final"
                                      css-card="text-success"
                                       model="@ModelCards.SimpleCard">
        </vc:card-bank-trans-fix-stats>
    </div>
   
</div>