<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text ml-auto ">
            <span class="txt-color-white">Smart 1.8.1 <span class="hidden-xs"> - Web Application Framework</span> © 2011-@System.DateTime.Now.Year</span>
        </span>
        <span class="navbar-text mr-auto ">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </span>
    </nav>
</div>
