<header style="background-color: #005a86">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style=" background-color: #005a86;">
            <a class="navbar-brand" asp-action="List" asp-controller="CategoryPerson">
                Configurações
            </a>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pessoas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="CategoryPerson">Categorias</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contábil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="TaxGroup">Grupo de Impostos</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="TaxOperation">Operação Fiscal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Financeiro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="FinancialCategory">Categoria Financeira</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="CostCenter">Centro de Custo</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Bank">Conta Bancária</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Regiões
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="Country">Países</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="StateProvince">Estados</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="City">Cidades</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produção/Produtos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="CategoryProduct">Categorias de Produtos</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="ClassProduct">Classes de Produtos</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Warehouse">Depósitos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vendas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="Condition">Contdições de Pagamentos</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>