@{
    ViewData["Title"] = "About";
}
<p class="lead">
    Easy pie chart is a jQuery plugin that uses the canvas element to render simple pie charts for
    single values. These charts are highly customizable, very easy to implement, scale to the resolution of the
    display of the client to provide sharp charts even on retina displays, and use requestAnimationFrame
    for smooth animations on modern devices.
</p>
<div id="todaysdate"></div>

@*<vc:amount-revenue max-priority="2" is-done="false">
</vc:amount-revenue>*@
<button id="refresh">Refresh</button>

@section Scripts {
<script>
    $(document).ready(function () {
        loadTodaysDate();
        $("#refresh").click(function () {
            loadTodaysDate();
        });
    });
    function loadTodaysDate() {
        $("#todaysdate").load("CurrentDate");
    }
</script>
}
