@{ ViewData["Title"] = "Easy Pie Chart"; }
<p class="lead">Easy pie chart is a jQuery plugin that uses the canvas element to render simple pie charts for 
    single values. These charts are highly customizable, very easy to implement, scale to the resolution of the 
    display of the client to provide sharp charts even on retina displays, and use requestAnimationFrame 
    for smooth animations on modern devices.
</p>
<ul class="list-inline">
    <li class="list-inline-item">
        <div class="easy-pie-chart text-info easyPieChart" data-percent="90" data-size="180" data-pie-size="50">
            <span class="percent percent-sign text-info font-xl semi-bold"></span>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-success easyPieChart" data-percent="36" data-pie-size="180">
            <span class="percent percent-sign text-success font-xl semi-bold">36</span>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-danger easyPieChart" data-percent="46" data-pie-size="160">
            <span class="percent percent-sign text-danger font-lg semi-bold">46</span>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-warning easyPieChart" data-percent="56" data-pie-size="110">
            <span class="percent percent-sign text-warning font-md">56</span>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-primary easyPieChart" data-percent="66" data-pie-size="60">
            <span class="percent percent-sign text-primary">66</span>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-secondary easyPieChart" data-percent="76" data-pie-size="45">
            <span class="percent percent-sign text-secondary font-sm">76</span>
        </div>
    <li class="list-inline-item">
        <div class="easy-pie-chart text-dark easyPieChart" data-percent="86" data-pie-size="35">
            <span class="percent percent-sign text-dark font-xl">86</span>
        </div>
    </li>
</ul>