@model ForgotPasswordViewModel
@{
    ViewData["Title"] = LoginLocalizer["Deseja Recuperar sua senha?"];
}
<h2 class="form-signin-heading text-center">@LoginLocalizer["Recuperação de Senha"]</h2>
<hr class="my-4">
<div class="container">
    <div class="row" style="padding:15px">
        <div class="col-md-6">
            <form asp-action="ForgotPassword" method="post" class="form-signin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">@LoginLocalizer["Endereço de E-mail"]</label>
                    <input asp-for="Email" class="form-control" placeholder="E-mail" required autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">@LoginLocalizer["Resetar Senha"]</button>
                <a asp-action="Login">@LoginLocalizer["Entrar com e-mail registrado"].</a>
            </form>
        </div>
        <div class="col-md-6" style=" padding: 15px;">
            @{ await Html.RenderPartialAsync("_SiginAnotherServices"); }
        </div>
    </div>
</div> <!-- /container -->
