@{
    ViewData["Title"] = LoginLocalizer["Confirmação de recuperação de senha"];
}
<style>
    .jumhead {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
</style>
<h2 class="text-center">@LoginLocalizer["Recuperação de Senha"]!</h2>
<hr class="my-4">
<div class="container">
    <p class="lead">
       @LoginLocalizer["Sua senha foi alterada..."]
    </p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-info">@LoginLocalizer["Voltar ao Login"]</a>
</div>
