@model Core.Domain.Production.Warehouse
   @{ Layout = null; }
    @Html.HiddenFor(a => a.WarehouseId)
    @Html.HiddenFor(a => a.BusinessEntityId)
<div class="controls">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">@Localizer["Nome"]</label>
                <input asp-for="Name" placeholder="@Localizer["Nome"]" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
</div>
